/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns:
    minmax($layoutPadding, 1fr)
    minmax(auto, $max)
    minmax($layoutPadding, 1fr);
}

/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width: 1, $height: 1) {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > img {
    height: 100%;
    object-fit: cover;
  }
}

@mixin page {
  max-width: rem(620px);
}

@mixin scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    scrollbar-width: none;
  }

  & {
    -ms-overflow-style: none;
  }

  &::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
  }
}

@mixin progress-bar($height: 5px, $loaderLength: 10s) {
  .progress-bar {
    width: 100%;
    height: $height;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: #c39b7862;
    overflow: hidden;
    border-radius: 0;
  }

  .progress-bar::after {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: $height;
    background: #725E52;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    animation: animFw $loaderLength linear infinite;
  }

  @keyframes animFw {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}

@mixin modal-hover-guard {
  &.modal-above {
    &:hover {
      &::before {
        content: "";
        position: absolute;
        top: rem(-20px);
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: rem(20px);
        opacity: 0;
      }
    }
  }

  &.modal-below {
    &:hover {
      &::after {
        content: "";
        position: absolute;
        bottom: rem(-20px);
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: rem(20px);
        opacity: 0;
      }
    }
  }
}
