@font-face {
  font-family: "Codystar";
  src: url("../../assets/fonts/Codystar-Regular.ttf");
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../../assets/fonts/SourceCodePro-Regular.ttf");
}
